.responsive-tools{
    &>a{
        &[data-target="login"]{
            @media(max-width:767px){
                display:flex;
                right: 93px;
                position: relative;
            }
        }
    }
}